## .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.suo
.vs/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/

## IDE
.idea/
.vscode/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Application
logs/
*.db
*.db-journal
